<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>分类编辑</title>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datapicker/datepicker3.css" rel="stylesheet"/>

    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.2.css" rel="stylesheet"/>

    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet"/>

    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css"
          rel="stylesheet"/>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content p-sm no-borders">
                    <div style="text-align: right;">
                        <button type="button" onclick="page.save()" class="btn btn-success">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form role="form" id="edit_form" th:action="@{/top/category/categoryEdit.save}">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="tabs-container">
                        <div class="tab-content">
                            <div class="panel-body good-edit-failure form-horizontal">
                                <div class="hr-line-dashed "></div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label">Id:</label>
                                    <div class="col-sm-10">
                                        <span th:text="${data.data.id}"></span>
                                        <input type="hidden" id="id" name="id" th:value="${data.data.id}"/>
                                        <input type="hidden" id="categoryType" name="categoryType"
                                               th:value="${data.data.categoryType}"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed "></div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label">分类名称:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-sm" placeholder="分类名称"
                                               th:value="${data.data.name}" id="name" name="name"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed "></div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label">父级分类:</label>
                                    <div class="col-sm-10">
                                        <select id="parent" name="parent">
                                            <option value="0">无</option>
                                            <th:block th:each="item:${data.categoryList}">
                                                <option  th:selected="*{item.id eq data.data.parentId}"
                                                        th:value="*{item.id}"
                                                        th:text="*{item.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed "></div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label">排序号:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-sm" placeholder="排序号"
                                               th:value="${data.data.sort}" id="sort" name="sort"/>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>

<!--file-->
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<!--validate-->
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="/js/bootstrap.hot.extra-validate.js"></script>

<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datapicker/bootstrap-datepicker.js"></script>


<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/SearchableSelect/jquery.searchableSelect.js"></script>

<!--tagsinput-->
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

<script src="/js/bootstrap.hot.extra-utils.js"></script>
<script src="/js/bootstrap.hot.extra-init.js"></script>

<script>
    var page = {};
    page.save = function () {
        $("#edit_form").submit();
    }

</script>
</body>

</html>
