<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <title>banner文章</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <!--<link href="../../css/layer.css" rel="stylesheet"/>-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="../../css/style.min.css?v=4.0.0" rel="stylesheet"/>

</head>

<body onload="bannerConfig.loadFirst()" class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <!--编辑-->
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加banner文章</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div id="editSlide" class="ibox-content ">
                        <form method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">bannerID</label>
                                <div class="col-sm-10">
                                    <input readonly="readonly" name="id" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">banner名称</label>
                                <div class="col-sm-10">
                                    <input name="title" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">bannerURL</label>
                                <div class="col-sm-10">
                                    <input name="url" type="text" class="form-control"/>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">banner图片</label>

                                <div class="col-sm-10">
                                    <div class="col-md-6">
                                        <div class="image-crop">
                                            <img name="pictureUrl" style="width: 300px;height: 200px" src="/img/300x200.png"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label title="上传图片" for="fileImage" class="btn btn-primary">
                                            <input onchange=" bannerConfig.uploadImage()" type="file" accept="image/*"  id="fileImage" name="fileImage" class="hide"/> 上传新图片
                                        </label>
                                        <span class="help-block m-b-none">推荐图片大小:300x200</span>
                                    </div>


                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="bannerConfig.saveSlide(this)">保存banner</button>
                                    <button onclick="bannerConfig.clearSlide()" class="btn btn-white" type="button">清空</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>banner文章列表</h5>
                    </div>
                    <div id="slideList" class="ibox-content">
                        <!--/*@thymesVar id="circle" type="com.huotu.huobanplus.sns.entity.Circle"*/-->
                            <ul  class="sortable-list connectList agile-list ui-sortable">
                                <li th:each="s:${slides}" class="info-element" style="">
                                    <span th:text="${s.title}">支持财会人员的继续培训工作。</span>
                                    <input name="pictureUrl" type="hidden" th:value="${s.pictureUrl}"/>
                                    <input name="id" type="hidden" th:value="${s.id}"/>
                                    <div class="agile-detail">
                                        <a th:onclick="'bannerConfig.deleteSlide('+${s.id}+',this,event)'" class="pull-right btn btn-xs btn-white">删除</a>
                                        <i th:text="${s.url}">http://www.baidu.com</i>
                                    </div>
                                </li>
                            </ul>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button onclick="" class="btn btn-white" type="button">添加圈子文章</button>
                                </div>

                            </div>

                    </div>
                </div>
            </div>





        </div>
    </div>
    <script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/ajaxfileupload/ajaxfileupload.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var bannerConfig={};

        bannerConfig.editSlide=null;

        bannerConfig.loadFirst=function(){
            bannerConfig.bindSlideList();

        };

        bannerConfig.deleteSlide=function(id,obj,event){
            var ld=layer.load(5, {shade: false});
            $.ajax({
                type:'POST',
                url: '/top/slide/deleteSlide',
                dataType: 'json',
                data: {slideId:id},
                success:function(result){
                    layer.close(ld);
                    layer.msg("删除成功!");
                    $(obj).parent().parent().remove();

                },
                error:function(e){
                    layer.close(ld);
                    layer.msg("删除出错!");
                }
            });
            event.stopPropagation();

        };
        bannerConfig.saveSlide=function(obj){
            if($(obj).attr("class")=="btn btn-primary disabled"){
                return;
            }
            $(obj).attr("class","btn btn-primary disabled");

            var slide={};
            slide.id=$("input[name='id']","#editSlide").val();
            slide.title=$("input[name='title']","#editSlide").val();
            slide.url=$("input[name='url']","#editSlide").val();
            slide.pictureUrl=$("img[name='pictureUrl']","#editSlide").attr("src");

            var ld=layer.load(5, {shade: false});
            $.ajax({
                type:'POST',
                url: '/top/slide/saveSlide',
                dataType: 'json',
                contentType:"application/json",
                data: JSON.stringify(slide),
                success:function(result){
                    layer.close(ld);
                    layer.msg("保存成功!");
                    bannerConfig.buildSlide(result.slide);
                    $(obj).attr("class","btn btn-primary");
                },
                error:function(e){
                    layer.close(ld);
                    layer.msg("保存出错!");
                    $(obj).attr("class","btn btn-primary");
                }
            });

        };

        bannerConfig.buildSlide=function(obj){
            if(bannerConfig.editSlide!=null){
                var editSlide=bannerConfig.editSlide;
                $("input[name='pictureUrl']",editSlide).val(obj.pictureUrl);
                $("span",editSlide).text(obj.title);
                $("i",editSlide).text(obj.url);
            }else{
//                $("input[name='id']","#editSlide").val(obj.id);
                var slide='<li class="info-element"> <span>'+obj.title+'</span>' +
                        '<input value="'+obj.pictureUrl+'" name="pictureUrl" type="hidden"/>' +
                        '<input value="'+obj.id+'" name="id" type="hidden"/>' +
                        '<div class="agile-detail">' +
                        '<a onclick="bannerConfig.deleteSlide('+obj.id+',this,event)" class="pull-right btn btn-xs btn-white">删除</a>' +
                        '<i>'+obj.url+'</i></div></li>';

                $("ul","#slideList").append(slide);
                $("ul li:last","#slideList").trigger("click");

            }
        };

        bannerConfig.clearSlide=function(){
            bannerConfig.editSlide=null;
            $("input[name='id']","#editSlide").val("");
            $("input[name='title']","#editSlide").val("");
            $("input[name='url']","#editSlide").val("");
            $("img","#editSlide").attr("src","/img/300x200.png");

        };

        bannerConfig.uploadImage=function(){
            var loadPic=layer.load(0, {shade: false});
            $.ajaxFileUpload({
                url: '/top/file/uploadAticleImage',
                secureuri: false,
                fileElementId: 'fileImage',
                dataType: 'json',
                data: null,
                success: function(resultModel) {
                    if(resultModel.code==1){
                        layer.close(loadPic);
                        layer.msg("上传成功");
                        $(".image-crop img").attr("src",resultModel.url);
                    }
                },
                error: function(data, status, e) {
                    layer.close(loadPic);
                    layer.msg("上传失败，请检查网络后重试"+e);
                }
            });
        };

        bannerConfig.bindSlideList=function(){
            $("#slideList").on("click","li",function(){
                bannerConfig.editSlide=this;
                var pictureUrl= $("input[name='pictureUrl']", bannerConfig.editSlide).val();
                var title= $("span", bannerConfig.editSlide).text();
                var url=$("i", bannerConfig.editSlide).text();
                var id=$("input[name='id']", bannerConfig.editSlide).val();

                $("input[name='id']","#editSlide").val(id);
                $("input[name='title']","#editSlide").val(title);
                $("input[name='url']","#editSlide").val(url);
                $("img","#editSlide").attr("src",pictureUrl);
            });


        };
    </script>
</body>

</html>