<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <title>编辑圈子</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/iCheck/custom.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="../../css/style.min.css" rel="stylesheet"/>
    <link href="../../css/layer.css" rel="stylesheet"/>

</head>

<body onclick="circleConfig.firstLoad()" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑圈子</h5>
                    </div>
                    <div class="ibox-title">
                        <button onclick="history.go(-1)" class="btn btn-primary" type="button">返回</button>
                    </div>
                    <div class="ibox-content">
                        <!--/*@thymesVar id="circle" type="com.huotu.huobanplus.sns.entity.Circle"*/-->
                        <form method="post" class="form-horizontal" th:action="@{/top/circle/saveCircle}" th:object="${circleListModel}">
                            <input type="hidden" name="circleId" th:value="*{circleId}"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">圈子名称</label>

                                <div class="col-sm-2">
                                    <input name="circleName" th:value="*{circleName}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">圈子简介</label>
                                <div class="col-sm-10">
                                    <input name="summary" th:value="*{summary}" type="text" class="form-control"/> <span class="help-block m-b-none">对于圈子的简单介绍，比如该圈子讨论什么</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否热门
                                </label>
                                <div class="col-sm-10">
                                    <div class="radio i-checks">
                                        <label>
                                            <input th:checked="*{suggested}" type="radio" value="true" name="suggested"/> <i></i>热门</label>
                                    </div>
                                    <div class="radio i-checks">
                                        <label>
                                            <input th:checked="!*{suggested}" type="radio" value="false" name="suggested"/> <i></i>普通</label>
                                    </div>


                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">指定组长</label>

                                <div class="col-sm-1">
                                    <button onclick="circleConfig.showUserList()" class="btn btn-primary" type="button">选择组长</button>

                                </div>
                                <div class="col-sm-6">
                                    <label id="leaderName" class="" th:text="*{leaderName}==null?'未选择组长':'当前组长:'+*{leaderName}">当前组长:小编</label>
                                    <input type="hidden" name="leaderId" th:value="*{leaderId}"/>
                                </div>

                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属分类</label>

                                <div class="col-sm-1">
                                    <button onclick="circleConfig.showCategoryList()" class="btn btn-primary" type="button">选择分类</button>
                                </div>

                                <div class="col-sm-6">
                                    <label id="showCategoryName" class="" th:text="*{categoryName}==null?'未选择分类':'当前分类:'+*{categoryName}">当前组长:小编</label>
                                    <input type="hidden" name="categoryId" th:value="*{categoryId}"/>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">圈子标签</label>

                                <div class="col-sm-1">
                                    <button onclick="circleConfig.showTagList()" class="btn btn-primary" type="button">选择标签</button>
                                </div>

                                <div id="tags" class="col-sm-4">
                                    <label style="display: initial;" th:each="t:*{tags}">
                                        <span class="label" th:text="${t.name}"></span>
                                        <input type="hidden" th:value="${t.id}"/>
                                    </label>
                                </div>

                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">圈子图片</label>

                                <div class="col-sm-10">
                                    <div class="col-md-3">
                                        <div class="image-crop">
                                            <img style="width: 300px;height: 200px"  th:src="*{pictureUrl}==null?'http://placehold.it/300x200?text=300x200':*{pictureUrl}" src="http://placehold.it/300x200?text=300x200"/>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label title="上传图片" for="fileImage" class="btn btn-primary">
                                            <input onchange=" circleConfig.uploadImage()" type="file" accept="image/*"  id="fileImage" name="fileImage" class="hide"/> 上传新图片
                                        </label>
                                        <span class="help-block m-b-none">推荐图片大小:300x200</span>
                                    </div>


                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否禁用
                                </label>
                                <div class="col-sm-10">
                                    <div class="radio i-checks">
                                        <label>
                                            <input th:checked="*{enabled}" type="radio" value="true" name="enabled"/> <i></i>启用</label>
                                    </div>
                                    <div class="radio i-checks">
                                        <label>
                                            <input th:checked="!*{enabled}" type="radio" value="false" name="enabled"/> <i></i>禁用</label>
                                    </div>


                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="circleConfig.submitForm(this)">保存圈子</button>
                                    <a class="btn-white" href="/admin/circle/circleList.html"><button class="btn btn-white" type="button">取消</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/iCheck/icheck.min.js"></script>
    <script src="http://resali.huobanplus.com/cdn/layer/2.4/layer.js"></script>
    <script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/ajaxfileupload/ajaxfileupload.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var circleConfig={};
        circleConfig.searchModel={};
        circleConfig.currentSearchType=0;
//        circleConfig.sharePicPath=/*[[${sharePicPath}]]*/ '';
        //图片上传


        circleConfig.uploadImage=function(){
            var loadPic=layer.load(0, {shade: false});
            $.ajaxFileUpload({
                url: '/top/file/uploadAticleImage',
                secureuri: false,
                fileElementId: 'fileImage',
                dataType: 'json',
                data: null,
                success: function(resultModel) {
                    if(resultModel.code==1){
                        layer.close(loadPic);
                        layer.msg("上传成功");
                        $(".image-crop img").attr("src",resultModel.url);
                    }
                },
                error: function(data, status, e) {
                    layer.close(loadPic);
                    layer.msg("上传失败，请检查网络后重试"+e);
                }
            });
        };

        circleConfig.geturlPath=function(url){
            var arrObj=url.split("//");
            if(arrObj[1]==undefined){
                return url;
            }
            var start=arrObj[1].indexOf("/");
            return arrObj[1].substring(start);
        };

        //提交圈子
        circleConfig.submitForm=function(obj) {
            if($(obj).attr("class")=="btn btn-primary disabled"){
                return;
            }
            var ld=layer.load(5, {shade: false});
            $(obj).attr("class","btn btn-primary disabled");
            var circleModel={};
            circleModel.circleId=$("input[name='circleId']").val();
            circleModel.circleName=$("input[name='circleName']").val();
            circleModel.summary=$("input[name='summary']").val();
            circleModel.categoryId=$("input[name='categoryId']").val();
            circleModel.pictureUrl=circleConfig.geturlPath($(".image-crop img").attr("src"));
            circleModel.suggested=$("input[name='suggested']:checked").val();
            circleModel.enabled=$("input[name='enabled']:checked").val();
            circleModel.leaderId=$("input[name='leaderId']").val();
            var tags=[];
            $("#tags label").each(function(index,val){
                var tag={};
                tag.name=$("span",val).text();
                tag.id=$("input",val).val();
                tags.push(tag);
            });
            circleModel.tags=tags;
            $.ajax({
                type:'POST',
                url: '/top/circle/saveCircle',
                dataType: 'json',
                contentType:"application/json",
                data: JSON.stringify(circleModel),
                success:function(result){
                    layer.close(ld);
                    layer.msg("保存成功！");
//                    $(obj).attr("class","btn btn-primary");
                    window.setTimeout("window.location='/admin/circle/circleList.html'",1000);

                },
                error:function(e){
                    layer.close(ld);
//                    $(obj).attr("class","btn btn-primary");
                    layer.msg("保存圈子失败！");
                }
            });
        };

        //初始化进页面
        circleConfig.firstLoad=function() {
            circleConfig.bindDeleteTag();
        };




        circleConfig.searchModel.userLayer=0;
        circleConfig.searchModel.categoryLayer=0;
        circleConfig.searchModel.tagLayer=0;
        circleConfig.showUserList=function(){
            circleConfig.currentSearchType=1;
            circleConfig.userChoice.clickChoice();
            circleConfig.searchModel.userLayer=layer.open({
                type: 2,
                title: '选择组长',
                area: ['60%', '70%'],
                btn:['确定选择'],
                content:"/top/user/index?selectType=single",
                yes: function(index, layero){
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    var user =iframeWin.page.selectOne();
                    console.log(user);
                    circleConfig.setUserIdAndName(user);
                    layer.close(index);
                },
                end:function(){
                }
            });
            circleConfig.searchInit();
            circleConfig.userChoice.searchList(0);
        };

        //设置分类的ID和名称
        circleConfig.setCategoryIdAndName=function(data){
            $("#showCategoryName").text("当前分类:"+data.name);
            $("input[name='categoryId']").val(data.id);
        };

        circleConfig.setUserIdAndName=function(data){
            $("#leaderName").text("当前组长:"+data.name);
            $("input[name='leaderId']").val(data.id);
        };

        circleConfig.setTagIdAndName=function(data){
            console.log(data);
            var tags=$("#tags");
            var tagIds=[];
            $("label",tags).each(function(index,val){
               var id=$("label",val).val();
                tagIds.push(id);
            });



            var tagsHtml="";
//            $(tags).html("");
            for(var i=0;i<data.length;i++){
                var tag=data[i];
                if(tagIds.indexOf(tag.id)!=-1){
                    continue;
                }
                var label='<label style="display: initial;">' +
                        '<span class="label">'+tag.name+'</span>' +
                        '<input value="'+tag.id+'" type="hidden"/> </label>';
                $(tags).append(label);
            }
//            $("#showCategoryName").text("当前分类:"+data.name);
//            $("input[name='categoryId']").val(data.id);
        };
        circleConfig.bindDeleteTag=function(){
            $("#tags").on("click","label",function(){
                $(this).remove();
            });
        };


        circleConfig.showCategoryList=function(){
            circleConfig.currentSearchType=2;
            circleConfig.searchModel.categoryLayer=layer.open({
                type: 2,
                title: '选择分类',
                area: ['60%', '70%'],
                btn:['确定选择'],
                content:"/top/category/categoryList/1?extend=radio",
                yes: function(index, layero){
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    var category =iframeWin.page.select();
                    circleConfig.setCategoryIdAndName(category);
                    layer.close(index);
                },
                end:function(){
                }
            });
            circleConfig.searchInit();
            circleConfig.categoryChoice.searchList();
        };


        circleConfig.showTagList=function(){
            circleConfig.currentSearchType=3;
            circleConfig.searchModel.tagLayer=layer.open({
                type: 2,
                title: '选择标签',
                btn:['确定选择'],
                area: ['60%', '70%'],
                content:"/top/tags/tagsList?extend=checkbox",
                yes: function(index, layero){
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    var tags =iframeWin.page.select();
                    circleConfig.setTagIdAndName(tags);
                    layer.close(index);
                },
                end:function(){
//                    $("#dataSearchTable").unbind();
                }
            });
            circleConfig.searchInit();
            circleConfig.tagChoice.searchList(0);
        };






        circleConfig.searchList=function(pageNo){
            switch (circleConfig.currentSearchType){
                case 1:
                    circleConfig.categoryChoice.searchList(pageNo);
                    break;
                case 2:
                    circleConfig.userChoice.searchList(pageNo);
                    break;
                case 3:
                    circleConfig.tagChoice.searchList(pageNo);
                    break;
                default:
                    break;
            }
        };

        circleConfig.searchInit=function(){
            circleConfig.searchModel.searchPage=0;
            circleConfig.searchModel.searchPageSize=10;
            circleConfig.searchModel.searchName="";
            circleConfig.searchModel.searchTotalPage=0;
            $("input[name='search']").val("");
            $("#dataSearchTable tbody tr").remove();
        };

        circleConfig.setSearchModel=function(pageNo){
            circleConfig.searchModel.searchName=$("input[name='search']").val();
            circleConfig.searchModel.searchPage=circleConfig.searchModel.searchPage+pageNo;
            if(circleConfig.searchModel.searchPage>=circleConfig.searchModel.searchTotalPage){
                circleConfig.searchModel.searchPage=circleConfig.searchModel.searchTotalPage-1;
            }
            if(circleConfig.searchModel.searchPage<0){
                circleConfig.searchModel.searchPage=0;
            }
        };




        //用户查询
        circleConfig.userChoice={};

        circleConfig.userChoice.searchList=function(pageNo){
            circleConfig.setSearchModel(pageNo);
            circleConfig.userChoice.searchListAjax(circleConfig.searchModel);
        };

        circleConfig.userChoice.searchListAjax=function(searchModel){
            var ld=layer.load(5, {shade: false});
            $.ajax({
                type:'GET',
                url: '/top/user/list',
//                dataType: 'json',
                data: {page:searchModel.searchPage+1,
                    pageSize:searchModel.searchPageSize,
                    nickName:searchModel.searchName,sortName:"id",sortType:"asc"},
                success:function(result){
                    layer.close(ld);
                    circleConfig.searchModel.searchTotalPage=result.pageCount;
                    circleConfig.userChoice.buildTable(result);


                },
                error:function(e){
                    layer.close(ld);
                    layer.msg("获取信息出错！");
                }
            });
        };

        circleConfig.userChoice.clickChoice=function(obj){
            $("#dataSearchTable").on('click','a',function(){
                layer.close(circleConfig.searchModel.userLayer);

            });
        };

        circleConfig.userChoice.buildTable=function(result){
            var showList=$("#dataSearchTable tbody");
            $(showList).children("tr").remove();
            $("#DataTables_Table_0_info").text("显示 "+((result.page-1)*result.pageSize+1)+" 到 "+(result.page)*result.pageSize+" 项，共 "+result.total+" 项");

            for(var i=0;i<result.list.length;i++){
                var user=result.list[i];
                var tr='<tr> ' +
                        '<td class="center ">'+user.id+'</td> ' +
                        '<td class="center ">'+user.nickName+'</td> ' +
                        '<td class="center ">' + '<a href="#">选择</a>' + '</td> ' +
                        '</tr>';
                $(showList).append(tr);
            }
        };















        //分类查询
        circleConfig.categoryChoice={};

        circleConfig.categoryChoice.searchList=function(){};

        circleConfig.categoryChoice.searchListAjax=function(){};

        circleConfig.categoryChoice.buildTable=function(){};

        circleConfig.categoryChoice.clickChoice=function(){};




        //标签查询
        circleConfig.tagChoice={};

        circleConfig.tagChoice.searchList=function(){};

        circleConfig.tagChoice.searchListAjax=function(){};

        circleConfig.tagChoice.buildTable=function(){};

        circleConfig.tagChoice.clickChoice=function(){};
        /*]]>*/

    </script>
</body>

</html>